body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100px;
    max-width: 100px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px (0, 0, 0, 0.1);
}

.left_side {
    position: relative;
    background: #005147;
    padding: 40px;
    width: 284px;
    height: 1300px;

}

.right_side {
    position: relative;
    background: #fff;
    padding: 40px;
    width: 738px;
    height: 1300px;

}

.profiletext {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255);
}

.profiletext .imgbox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profiletext .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profiletext h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profiletext h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255);
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;

}

.contactInfo ul {
    position: relative;
    /* text-decoration: underline; */
    color: #fff;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-size: 300;
}

.contactInfo .education li {
    margin-bottom: 15px;
}

.contactInfo .education h5 {
    color: #03a9f4;
    font-size: 500;
}

.contactInfo .education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contactInfo .education h4 {
    color: #fff;
    font-weight: 300;
}

.ContactInfo .Languag .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo .Languag ul li .text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.contactInfo .right_side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 09;

}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
}

.about_skills h2 {
    text-transform: uppercase;
}

.about_skills .box1 .red {
    background: #005147;
}